.product {
    border: solid 2px rgb(219, 216, 216);
    border-radius: 5px;
    margin: 5px auto;
    padding: 10px 10px;
}

.product__image {
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    /* border: solid 1px white;
    border-radius: 38% 62% 50% 50% / 52% 12% 88% 48%; */
}

.product__name {
    font-size: 20px;
    font-weight: bold;
}

.product__price {
    text-decoration-line: line-through;
}

.product__currentPrice {
    font-weight: bold;
    color: blueviolet;
}